]
.social-container {
    padding: 5px 5px;
  }
   a.social {
    margin: 0 5px;
    transition: transform 250ms;
    display: inline-block;
  }
  a.social:hover {
    transform: translateY(-2px);
  }
  a.youtube {
    color: #4481eb;
  }
  
  a.facebook {
    color: #4481eb;
  }
  
  a.twitter {
    color: #4481eb;
  }
  
  a.instagram {
    color: #4481eb;
  }